
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Team Roster</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>House Divided</h3>
                <ul class = "list-group">
                    <% @one.each do |member| %>
                        <li class = "list-group-item">
                            <%= member %> 
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Blessed Fools</h3>
                <ul class = "list-group">
                    <% @two.each do |member| %>
                        <li class = "list-group-item">
                            <%= member %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>No Pressure</h3>
                <ul class = "list-group">
                    <% @three.each do |member| %>
                        <li class = "list-group-item">
                            <%= member %>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Salt 2.0</h3>
                <ul class = "list-group">
                    <% @four.each do |member| %>
                        <li class = "list-group-item">
                            <%= member %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

</div>